#{{ ansible_managed }}
server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  {% if item.root is defined %}root {{item.root}};{% endif %}
  server_name {{item.domains | join(" ")}};
  client_max_body_size {% if item.client_max_body_size is defined %}{{item.client_max_body_size}}{% else %}{{nginx_default_client_max_body_size}}{% endif %};
  include /etc/nginx/nginx-ssl.conf;
{% if item.ssl_crt is defined %}
  ssl_certificate_key {{item.ssl_key}};
  ssl_certificate {{item.ssl_crt}};
{% else %}
  ssl_certificate_key {{letsencrypt_cert_directory}}/{{item.domains[0]}}/key.pem;
  ssl_certificate {{letsencrypt_cert_directory}}/{{item.domains[0]}}/fullchain.pem;
{% endif %}
{% if item.force_ssl is defined and item.force_ssl %}
  add_header Strict-Transport-Security "max-age=604800; preload" always;
{% endif %}

  location / {
    proxy_pass http://{{item.target}}$request_uri;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    add_header       Front-End-Https   on;
    proxy_buffers   256 4k;
    proxy_max_temp_file_size  0k;
    proxy_read_timeout {% if item.proxy_read_timeout is defined %}{{item.proxy_read_timeout}}{% else %}{{nginx_default_proxy_read_timeout}}{% endif %};
    proxy_send_timeout {% if item.proxy_send_timeout is defined %}{{item.proxy_send_timeout}}{% else %}{{nginx_default_proxy_send_timeout}}{% endif %};
  }
}

# vim: ft=nginx
